# =====================================================
# APPLICATION CONFIGURATION
# =====================================================

APP_NAME=example                    # Application name                 # snake_case

# =====================================================
# PORT
# =====================================================

# NESTJS APPLICATION
NESTJS_WEBAPI_IO_PORT=3000

# NGINX SERVER
NGINXE_SERVER_BE_PORT=80
