# =====================================================
# APPLICATION CONFIGURATION
# =====================================================

APP_NAME=example  # Application name (snake_case recommended)

# =====================================================
# ADMINIST AND PASSWORD
# =====================================================

# CONFIG SERVER (matterRS)
MONGO_ADMINIST_SHARDE_MATTER=MONGO_ADMINIST_SHARDE_MATTER
MONGO_PASSWORD_SHARDE_MATTER=MONGO_PASSWORD_SHARDE_MATTER
MONGO_DATABASE_SHARDE_MATTER=EXAMPLE_DB

# =====================================================
# PORT OF
# =====================================================

# NESTJS
PORT_OF_NESTJS=3000

# NGINX
PORT_OF_NGINXE=80

# CONFIG SERVER (matterRS)
MONGOS_ROUTER_DN_PORT_OF=27027
MONGOS_ROUTER_HN_PORT_OF=27037
MONGOS_ROUTER_SG_PORT_OF=27047

# =====================================================
# PORT
# =====================================================

# NESTJS APPLICATION
NESTJS_WEBAPI_IO_PORT=3000

# NGINX SERVER
NGINXE_SERVER_BE_PORT=80

# =====================================================
# IP SERVER ADDRESS
# =====================================================

# CONFIG SERVER (matterRS)
MONGOS_ROUTER_DN_ADRS=devlop-router-ms
MONGOS_ROUTER_HN_ADRS=devlop-router-ms
MONGOS_ROUTER_SG_ADRS=devlop-router-ms
