MONGO_ADMINIST_SHARDE_MATTER=MONGO_ADMINIST_SHARDE_MATTER
MONGO_PASSWORD_CONFIG_SERVER=MONGO_PASSWORD_CONFIG_SERVER
MONGOS_ROUTER_DN_ADRS=mongos-router-dn
MONGOS_ROUTER_HN_ADRS=mongos-router-hn
MONGOS_ROUTER_SG_ADRS=mongos-router-sg
PORT_OF_MONGOS=27017
MONGO_DATABASE_CONFIG_SERVER=EXAMPLE_DB
