# =====================================================
# ADMINIST AND PASSWORD
# =====================================================

# CONFIG SERVER (matterRS)
MONGO_ADMINIST_SHARDE_MATTER=MONGO_ADMINIST_SHARDE_MATTER
MONGO_PASSWORD_SHARDE_MATTER=MONGO_PASSWORD_SHARDE_MATTER
MONGO_DATABASE_SHARDE_MATTER=EXAMPLE_DB

# =====================================================
# PORT
# =====================================================

# DEFAULT PORT OF
PORT_OF_MONGOS=27017

# =====================================================
# IP SERVER ADDRESS
# =====================================================

# CONFIG SERVER (matterRS)
MONGOS_ROUTER_DN_ADRS=mongos-router-dn
MONGOS_ROUTER_HN_ADRS=mongos-router-hn
MONGOS_ROUTER_SG_ADRS=mongos-router-sg
